In [1]:
''' 17Feb_Assigement ''' 
''' Q1
MongoDB is an open source NoSQL database management program. NoSQL is used as an alternative to traditional relational databases. NoSQL databases are quite useful for working with large sets of distributed data. MongoDB is a tool that can manage document-oriented information, store or retrieve information. MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that enables you to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.

Lesser Server Cost and Open-Source NoSQL databases are cheap and open source. NoSQL database implementation is easy and typically uses cheap servers to manage the exploding data and transaction while RDBMS databases are expensive and it uses big servers and storage systems. NoSQL databases like MongoDB are a good choice when your data is document-centric and doesn't fit well into the schema of a relational database, when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases
'''

''' Q2 

Features of MongoDB

These are some important features of MongoDB:
1. Support ad hoc queries
In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing
You can index any field in a document.

3. Replication
MongoDB supports Master Slave replication.
A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

4. Duplication of data
MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

5. Load balancing
It has an automatic load balancing configuration because of data placed in shards.

6. Supports map reduce and aggregation tools.

7. Uses JavaScript instead of Procedures.

8. It is a schema-less database written in C++.

9. Provides high performance.

10. Stores files of any size easily without complicating your stack.

11. Easy to administer in the case of failures.

12. It also supports:

    JSON data model with dynamic schemas
    Auto-sharding for horizontal scalability
    Built in replication for high availability
'''

''' Q3 
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.fqm57iw.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db = client["pwskills"]
db_collection = db["pwskills_record"]
data1 = [ { "name" : "rakeshkp1",
          "course" : "1data science master",
          "age" : 33
          },
         { "name" : "rakeshkp2",
          "course" : "2data science master",
          "age" : 44
          },
         { "name" : "rakeshkp3",
          "course" : "3data science master",
          "age" : 55
          }
        ]
db_collection.insert_many(data1)
for rec in db_collection.find():
    print(rec)
	
{'_id': ObjectId('63fa4195b7a838b1cec67668'), 'name': 'rakeshkp', 'course': 'data science master', 'age': 20}
{'_id': ObjectId('63fa4284b7a838b1cec67669'), 'name': 'rakeshkp1', 'course': '1data science master', 'age': 33}
{'_id': ObjectId('63fa4284b7a838b1cec6766a'), 'name': 'rakeshkp2', 'course': '2data science master', 'age': 44}
{'_id': ObjectId('63fa4284b7a838b1cec6766b'), 'name': 'rakeshkp3', 'course': '3data science master', 'age': 55}

'''

''' Q4 
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.fqm57iw.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db = client["pwskills"]
db_collection = db["pwskills_record"]
data1 = [ { "name" : "rakeshkp1",
          "course" : "1data science master",
          "age" : 33
          },
         { "name" : "rakeshkp2",
          "course" : "2data science master",
          "age" : 44
          },
         { "name" : "rakeshkp3",
          "course" : "3data science master",
          "age" : 55
          }
        ]
db_collection.insert_many(data1)
for rec in db_collection.find():
    print(rec)
	
for rec in db_collection.find_one():
    print(rec)

'''

''' Q5
 In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents.
 
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.fqm57iw.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db = client["pwskills"]
db_collection = db["pwskills_record"]
data1 = [ { "name" : "rakeshkp1",
          "course" : "1data science master",
          "age" : 33
          },
         { "name" : "rakeshkp2",
          "course" : "2data science master",
          "age" : 44
          },
         { "name" : "rakeshkp3",
          "course" : "3data science master",
          "age" : 55
          }
        ]
db_collection.insert_many(data1)
for rec in db_collection.find():
    print(rec)
'''

''' Q6 
To sort documents in MongoDB, you need to use sort() method. The method accepts a document containing a list of fields along with their sorting order

import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.fqm57iw.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db = client["pwskills"]
db_collection = db["pwskills_record"]
data1 = [ { "name" : "rakeshkp1",
          "course" : "1data science master",
          "age" : 33
          },
         { "name" : "rakeshkp2",
          "course" : "2data science master",
          "age" : 44
          },
         { "name" : "rakeshkp3",
          "course" : "3data science master",
          "age" : 55
          }
        ]
db_collection.insert_many(data1)
for rec in db_collection.find().sort({'_id': -1}):
    print(rec)	
'''

''' Q7 Explain why delete_one() - Removes a single document from a collection.
                   delete_many()- Removes all documents that match the filter from a collection.
				   drop() Removes a collection or view from the database. The method also removes any indexes associated with the dropped collection.
for rec in db_collection.find():
    print(rec)
{'_id': ObjectId('63fa4195b7a838b1cec67668'), 'name': 'rakeshkp', 'course': 'pwskills data science master', 'age': 20}
{'_id': ObjectId('63fa4284b7a838b1cec67669'), 'name': 'rakeshkp1', 'course': '1data science master', 'age': 33}
{'_id': ObjectId('63fa4284b7a838b1cec6766a'), 'name': 'rakeshkp2', 'course': '2data science master', 'age': 44}
{'_id': ObjectId('63fa4284b7a838b1cec6766b'), 'name': 'rakeshkp3', 'course': '3data science master', 'age': 55}
{'_id': ObjectId('63fa46aeb7a838b1cec6766c'), 'name': 'rakeshkp4', 'course': 'pwskills data science master', 'age': 331}
{'_id': ObjectId('63fa46aeb7a838b1cec6766d'), 'name': 'rakeshkp5', 'course': 'pwskills data science master', 'age': 441}
{'_id': ObjectId('63fa46aeb7a838b1cec6766e'), 'name': 'rakeshkp6', 'course': 'pwskills data science master', 'age': 551}
	
db_collection.delete_one({'age':441})
for rec in db_collection.find():
    print(rec)
{'_id': ObjectId('63fa4195b7a838b1cec67668'), 'name': 'rakeshkp', 'course': 'pwskills data science master', 'age': 20}
{'_id': ObjectId('63fa4284b7a838b1cec67669'), 'name': 'rakeshkp1', 'course': '1data science master', 'age': 33}
{'_id': ObjectId('63fa4284b7a838b1cec6766a'), 'name': 'rakeshkp2', 'course': '2data science master', 'age': 44}
{'_id': ObjectId('63fa4284b7a838b1cec6766b'), 'name': 'rakeshkp3', 'course': '3data science master', 'age': 55}
{'_id': ObjectId('63fa46aeb7a838b1cec6766c'), 'name': 'rakeshkp4', 'course': 'pwskills data science master', 'age': 331}
{'_id': ObjectId('63fa46aeb7a838b1cec6766e'), 'name': 'rakeshkp6', 'course': 'pwskills data science master', 'age': 551}
	
	
{'_id': ObjectId('63fa4195b7a838b1cec67668'), 'name': 'rakeshkp', 'course': 'pwskills data science master', 'age': 20}
{'_id': ObjectId('63fa4284b7a838b1cec67669'), 'name': 'rakeshkp1', 'course': '1data science master', 'age': 33}
{'_id': ObjectId('63fa4284b7a838b1cec6766a'), 'name': 'rakeshkp2', 'course': '2data science master', 'age': 44}
{'_id': ObjectId('63fa4284b7a838b1cec6766b'), 'name': 'rakeshkp3', 'course': '3data science master', 'age': 55}
{'_id': ObjectId('63fa46aeb7a838b1cec6766c'), 'name': 'rakeshkp4', 'course': 'pwskills data science master', 'age': 331}
{'_id': ObjectId('63fa46aeb7a838b1cec6766e'), 'name': 'rakeshkp6', 'course': 'pwskills data science master', 'age': 551}

db_collection.delete_many({'course': 'pwskills data science master'})
for rec in db_collection.find():
    print(rec)
{'_id': ObjectId('63fa4195b7a838b1cec67668'), 'name': 'rakeshkp', 'course': 'pwskills data science master', 'age': 20}
{'_id': ObjectId('63fa4284b7a838b1cec67669'), 'name': 'rakeshkp1', 'course': '1data science master', 'age': 33}
{'_id': ObjectId('63fa4284b7a838b1cec6766a'), 'name': 'rakeshkp2', 'course': '2data science master', 'age': 44}
{'_id': ObjectId('63fa4284b7a838b1cec6766b'), 'name': 'rakeshkp3', 'course': '3data science master', 'age': 55}

'''

" Q7 Explain why delete_one() - Removes a single document from a collection.\n                   delete_many()- Removes all documents that match the filter from a collection.\n\t\t\t\t   drop() Removes a collection or view from the database. The method also removes any indexes associated with the dropped collection.\nfor rec in db_collection.find():\n    print(rec)\n{'_id': ObjectId('63fa4195b7a838b1cec67668'), 'name': 'rakeshkp', 'course': 'pwskills data science master', 'age': 20}\n{'_id': ObjectId('63fa4284b7a838b1cec67669'), 'name': 'rakeshkp1', 'course': '1data science master', 'age': 33}\n{'_id': ObjectId('63fa4284b7a838b1cec6766a'), 'name': 'rakeshkp2', 'course': '2data science master', 'age': 44}\n{'_id': ObjectId('63fa4284b7a838b1cec6766b'), 'name': 'rakeshkp3', 'course': '3data science master', 'age': 55}\n{'_id': ObjectId('63fa46aeb7a838b1cec6766c'), 'name': 'rakeshkp4', 'course': 'pwskills data science master', 'age': 331}\n{'_id': ObjectId('63fa46aeb7a838b1cec6766d'), 'name': 'rakeshkp5', 'course': 'pwskills data science master', 'age': 441}\n{'_id': ObjectId('63fa46aeb7a838b1cec6766e'), 'name': 'rakeshkp6', 'course': 'pwskills data science master', 'age': 551}\n\t\ndb_collection.delete_one({'age':441})\nfor rec in db_collection.find():\n    print(rec)\n{'_id': ObjectId('63fa4195b7a838b1cec67668'), 'name': 'rakeshkp', 'course': 'pwskills data science master', 'age': 20}\n{'_id': ObjectId('63fa4284b7a838b1cec67669'), 'name': 'rakeshkp1', 'course': '1data science master', 'age': 33}\n{'_id': ObjectId('63fa4284b7a838b1cec6766a'), 'name': 'rakeshkp2', 'course': '2data science master', 'age': 44}\n{'_id': ObjectId('63fa4284b7a838b1cec6766b'), 'name': 'rakeshkp3', 'course': '3data science master', 'age': 55}\n{'_id': ObjectId('63fa46aeb7a838b1cec6766c'), 'name': 'rakeshkp4', 'course': 'pwskills data science master', 'age': 331}\n{'_id': ObjectId('63fa46aeb7a838b1cec6766e'), 'name': 'rakeshkp6', 'course': 'pwskills data science master', 'age': 551}\n\t\n\t\n{'_id': ObjectId('63fa4195b7a838b1cec67668'), 'name': 'rakeshkp', 'course': 'pwskills data science master', 'age': 20}\n{'_id': ObjectId('63fa4284b7a838b1cec67669'), 'name': 'rakeshkp1', 'course': '1data science master', 'age': 33}\n{'_id': ObjectId('63fa4284b7a838b1cec6766a'), 'name': 'rakeshkp2', 'course': '2data science master', 'age': 44}\n{'_id': ObjectId('63fa4284b7a838b1cec6766b'), 'name': 'rakeshkp3', 'course': '3data science master', 'age': 55}\n{'_id': ObjectId('63fa46aeb7a838b1cec6766c'), 'name': 'rakeshkp4', 'course': 'pwskills data science master', 'age': 331}\n{'_id': ObjectId('63fa46aeb7a838b1cec6766e'), 'name': 'rakeshkp6', 'course': 'pwskills data science master', 'age': 551}\n\ndb_collection.delete_many({'course': 'pwskills data science master'})\nfor rec in db_collection.find():\n    print(rec)\n{'_id': ObjectId('63fa4195b7a838b1cec67668'), 'name': 'rakeshkp', 'course': 'pwskills data science master', 'age': 20}\n{'_id': ObjectId('63fa4284b7a838b1cec67669'), 'name': 'rakeshkp1', 'course': '1data science master', 'age': 33}\n{'_id': ObjectId('63fa4284b7a838b1cec6766a'), 'name': 'rakeshkp2', 'course': '2data science master', 'age': 44}\n{'_id': ObjectId('63fa4284b7a838b1cec6766b'), 'name': 'rakeshkp3', 'course': '3data science master', 'age': 55}\n\n"